<section class="todo-creator card">
  <div class="card-header">
    Criar
  </div>
  <div class="card-body">
    <form class="todo-creator--form card-body" (ngSubmit)="createTodo()" ngNativeValidate >
      <div class="form-group">
        <label for="todoTask">Tarefa</label>
        <input type="text" id="todoTask" class="form-control" [(ngModel)]="task" name="task" required>
      </div>
      <button type="submit" class="btn btn-primary">
        Criar
      </button>
    </form>
  </div>
</section>